
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Restaurant list in this area</h1>
	<a href="{{url_for('newRestaurant')}}">create your own favorite restaurant</a>
	<br>
	<br>
	<br>

	<div>
		{% for a in restaurants %}
		{%if a.id > 9:%}
			<!-- {{a.id}} -->
			<b>{{a.name}}</b>
		<br>
		description of the restaurant :{{a.description}}
		<br>
		<a href="{{url_for('editRestaurant', restaurant_id = a.id)}}">Edit this restaurant</a>
		<br>
		<a href="/restaurant/">Delete this restaurant</a>
		<br>
		<br>

	</div>
		{% endif %}
		{% endfor %}


</body>
</html>